html, body {
    height: 100%;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;      
        overflow-x: hidden;
}
.coloryellow{
    color: #FFCA00 !important;

}
.colorgrey50{
    color: #4B5563 !important;
}
tbody, td, tfoot, th, thead, tr {
    border-color: white;
    /* border-style: solid; */
    border-width: 0;
}
div#transactionTable_info {
    display: none;
}
.dataTables_wrapper .dataTables_filter {
    float: left !important;
    text-align: right;
}
.table.dataTable.no-footer {
    border-bottom: 0px solid #111 !important;
}
.dataTables_length {
    float: right !important;
}
.dataTables_wrapper .dataTables_paginate {
    margin-top: 20px !important;
     float: none !important;
    text-align: center !important;
    padding-top: 0.25em;
}
.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #D1D5DB !important;
    border-radius: 20px !important;
    padding: 10px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 420px !important;
    background-color: transparent !important;
    margin-left: 3px !important;
    margin-bottom: 40px !important;
    color: #2563eb !important;
}

.text-shadow {
    text-shadow: 4px 4px 20px rgba(0, 0, 0, 0.589);
  }
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #2563eb !important;
    border: 1px solid transparent;
    border-radius: 2px;
}
.dataTables_wrapper .dataTables_filter input::placeholder {

    color: #D1D5DB
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #2563eb !important;
    border: 1px solid #dbeafe !important;
    background-color: #dbeafe !important;
    background: #dbeafe !important ;
}

.btn-edit{
    margin-left: 10px;
    border: 1px solid #D1D5DB;
    margin-right: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: none;
    background: none;
    padding-left: 10px;
}
#back-top {
    display: none;
    background-color: #FFCA00;
    border: none;
    border-radius: 50%;
    position: fixed;
    bottom: 85px;
    left: 49%;
    padding: 9px 14px;
  }

.navbarlogo{
    width: 63px;
}
.padding6{
        padding-left: 6.7rem;
    
}
.padding-122{
    padding-left: 122px;
    padding-right: 122px;
}
.mb-50{
    margin-bottom: 80px !important;
}
.mb-150{
    margin-bottom: 150px !important;
}
.px-150{
    padding-left: 150px;
    padding-right: 150px;
}
.size150{
    font-size: 60px;
}
.active {
    text-decoration: underline;
    text-underline-offset: 0.3em; /* adjust as needed */
    text-decoration-skip-ink: none; /* or 'auto' depending on your preference */
}
.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0.5rem;
    --bs-navbar-color: rgba(var(--bs-emphasis-color-rgb), 0.65);
    --bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8);
    --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
    --bs-navbar-active-color: #FFCA00;
    --bs-navbar-brand-padding-y: 0.3125rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-brand-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-nav-link-padding-x: 1.5rem;
}
.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.width-10 {
    width: 10%;
}

.width-20 {
    width: 20%;
}

.width-30 {
    width: 30%;
}

.width-40 {
    width: 40%;
}

.width-50 {
    width: 50%;
}
.width-55 {
    width: 45%;
}

.width-60 {
    width: 60%;
}

.width-70 {
    width: 70%;
}

.width-80 {
    width: 80%;
}

.width-90 {
    width: 90%;
}

.width-100 {
    width: 100%;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
}
.footerBackground{
    border-top: 1px solid #D1D5DB;
}
/* Form styling */
.login-form-control {
    border: none;
    border-bottom: 1px solid #ced4da; /* Underline style */

    margin-bottom: 1rem;
}
.login-form-control1 {
    border: none;
    border-bottom: 1px solid #ffffff; /* Underline style */

    margin-bottom: 1rem;
}
.form-control{
    border-radius: 0;
}
.form-control::placeholder{
    color: #E5E7EB;
}
.poppines{
    font-family: "Poppins", sans-serif !important;
}
.login-form-control:focus {
    box-shadow: none;
    border-color: #80bdff;
}
.login-form-control1:focus {
    box-shadow: none;
    border-color: #ffffff;
}
.btn{
    border-radius: 0px;
    --bs-btn-padding-x: 2rem;
    --bs-btn-padding-y: 0.375rem;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #FFCA00;
    --bs-btn-border-color: #FFCA00;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ffe480;
    --bs-btn-hover-border-color: #ffe480;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ffe480;
    --bs-btn-active-border-color: #ffe480;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #ffe480;
    --bs-btn-disabled-border-color: #ffe480;
}
.login-form-select:focus {
    border-color: #ffe480;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #ffe38089;
}
.login-form-select{
    border-radius: 0px;
    
}
.square{
    width: 225px;
    height: 206px;
    align-items: center;
    text-align: center;
    font-size: 40px;
    margin: 0 auto;
}
.square p{
    padding-top: 67px;
}
.colorYellow{
    background: #FFEB38;
}
.colorBlue{
    background: #2563EB;
}
.colorRed{
    background: #FF2828;
}
.colorOrange{
    background: #FF9010;
}

.highcharts-credits {
    display: none !important;
}
.backgroundYellow{
    background: #ffca00;
}
.medium22{
    font-size: 18px;
    font-weight: 500;
}
.padding7{
        padding-top: 7px;
        padding-bottom: 7px;
    
}
.CustomHr{
    margin: 0.5rem 0rem;
    opacity: 1;
    color: #ffffff;
}
.modal-header{
    border-bottom: 1px solid white;
}
.borderGrey{
    border: 1px solid #D1D5DB;
}


@media (max-width: 650px){
    .padding-122{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .width-50{
        width: 90% !important;
    }
    .col-6{
        width: 100% !important;
        padding: 32px;
    }
    .col-6 p{
        text-align: center;
    }
    .fixImage{
        width: 100%;
        height: 200px;
    }
    #back-top {
        left: 45% !important;
        bottom: 95px;
    }
    .width-100-resposnsice{
        width: 85% !important;
    }
    .width-25-responsive img{
        width: 100%;
    }
   

    .col-4{
        width: 100% !important;
        padding: 50px;
    }
    .px-150{
        padding-left: 30px;
        padding-right: 30px;
    }
    .size150{
        font-size: 29px;
    }
    .mb-150{
        margin-bottom: 30px !important;
    }
    .rowreverse{
        flex-direction: column-reverse;
    }
    .pading0{
        padding-top: 0px;
    }
    .padingb0{
        padding-bottom: 0px;
    }
    .txenter{
        text-align: center !important;
        align-items: center !important;
    }
    #notshow{
        display: none;
    }
    #showhide{
        display: block !important;
    }
    .col-2{
        width: 100% !important;
        padding: 50px;

        text-align: center !important;
        align-items: center !important;
    }
    .col-5{
        width: 100% !important;
        padding: 50px;
        text-align: center !important;
        align-items: center !important;
        
    }
    .padding-10px{
        padding: 10px;
    }
    .float-center{
        float: none !important;
        align-items: center !important;
        text-align: center !important;
    }
    .text-center-responsive{
        text-align: center !important;
    }
    .col-1{
        width: 50% !important;
    }
    .col-1 div{
        float: none !important;
        text-align: center !important;
    }
    .col-1 img{
        text-align: center;
        align-items: center;
        width: 50% !important;
        height: auto !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .col-4 div{
        float: none !important;
        text-align: center !important;
        margin-left: auto !important;
        margin-right: auto !important;
        align-items: center !important;
        padding: 0px !important;
    }

    .col-4 img{
        text-align: center;
        width: 100px !important;
        height: auto !important;
  
    }
    .col-7{
        width: 100% !important;
    }
    .col-3{
        width: 90% !important;
    }
    .col-6 h5{
        text-align: center;
    font-size: 20px;
    font-weight: 200;
    font-weight: 600;
    }
    .padding-top-0{
        padding-top: 0px !important;
    }
    .width-40-reponsive{
        width: 40% !important;
    }
    .padding-0{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .width-100px{
        width: 100px !important; 
    }
    .overflox-x-hidden{
        overflow-x: hidden !important;
    }
    .width-200px{
        width: 200px !important;
    }
    .paddingxy-0px{
        padding: 0px !important;
    }
    .width60percent{
        width: 55% !important;
    }
    .fixedonresponsive{
        font-size: 11px;
        text-align: left !important;
        width: 60% !important;
    }
    .fontsetresponsive{
        font-size: 12px;
    }
    .width85fic{
        width: 85% !important;
    }
    .px-fix-res{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .width45fix-res{
        width: 45% !important;
    }
    .width95fix{
        width: 95% !important;
    }
    
}


.width-50fix{
    width: 50%;
}
.activeYellow{
    color: #FFCA00 !important;
}
.zindexback{
    z-index: 999999;
    background: white;
}
.hoverEffect:hover {
    color: #3b3b3b;

  }

  @media (min-width: 991.98px) {
    main {
      padding-left: 354px;
    }
  }

  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0;
    /* Height of navbar */
    border-right: 1px solid #D1D5DB;
    width: 354px;
    z-index: 600;
  }

  @media (max-width: 991.98px) {
    .sidebar {
      width: 100%;
    }
  }


  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
  }
  .dtailfont{
    font-weight: 600;
    font-size: 18px;
  }
.modal-backdrop {
    z-index: 999999 !important;
}
.modal {
    --bs-modal-zindex: 1055999 !important;
}